<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puppy Survey</title>
</head>
<body>

<h1>Welcome! Fill out the survey</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.breed.label }} {{ form.breed }}
    <br>
    {{ form.neutered.label }} {{ form.neutered }}
    <br>
    {{ form.food.label }} {{ form.food }}
    <br>
    {{ form.mood.label }} {{ form.mood }}
    <br>
    Any other Feedback..?
    <br>
    {{ form.feedback }}
    <br>
    {{ form.submit() }}

</form>

</body>
</html>
